footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-box {
  display: flex;
  flex-direction: row;
}

.year {
  padding-top: 5px;
  font-weight: bold;
}

.github-link {
  padding-right: 10px;
}

.logo-link {
  width: 100px;
}
