footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link_box {
  display: flex;
  flex-direction: row;
}

.year_span {
  padding-top: 5px;
  font-weight: bold;
}

.github_link {
  padding-right: 10px;
}

.logo_link {
  width: 100px;
}
