* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* Header */
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Left menu */
.nav_left {
    width: 280px;
    min-width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -280px;
    padding: 15px 20px;
    transition: left 0.3s;
    z-index: 2000;
}
.nav-toggle_left {
    position: absolute;
    left: 280px;
    padding-left: 0.25em;
    background: inherit;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2em;
    line-height: 1;
    z-index: 2001;
    transition: color .25s ease-in-out;
}

/*make button icon (TRIGRAM FOR HEAVEN)*/
.nav-toggle_left:after {
    content: '\2630';
    text-decoration: none;
    color: #4b475c;
}

/*text color on hover*/
.nav-toggle_left:hover {
    color: #FFFFFF;
}

/*Hidden checkbox*/
[id='nav-toggle_left'] {
    position: absolute;
    display: none;
}
/*if (panel open){.nav change}*/
[id='nav-toggle_left']:checked ~ .nav_left {
    background: #4b475c;
    left: 0;
    padding-left: 0px;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}
@media only screen and (min-width: 768px){
  [id='nav-toggle_left']:checked ~ .nav_left {
      background: #4b475c;
      left: 0;
      padding-left: 50px;
      box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
      overflow-y: auto;
  }
}
/*MULTIPLICATION X*/
[id='nav-toggle_left']:checked ~ .nav_left > .nav-toggle_left:after {
    content: '\2715';
    color: #FFFFFF;
}
/*плавное появление заголовка (логотипа) при раскрытии панели */
[id='nav-toggle_left']:checked ~ .nav_left h2 {
    opacity: 1;
    transform: scale(1, 1);
}
/*menu style*/
ul {
  list-style: none;
}
.nav_left > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_left > ul > li {
    line-height: 2.5;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .5s .1s, transform .5s .1s;
}
[id='nav-toggle_left']:checked ~ .nav_left > ul > li {
    opacity: 1;
    transform: translateX(0);
}
.logo_header {
  padding-top: 1em;
  color: #FFFFFF;
}
.header_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.header_item {
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  margin: 0 0 0 60px;
  color: #fff;
  min-width: 145px;
  text-align: left;
}
.header_item.active {
  text-decoration: underline;
}

/* Switcher */
.onoffswitch {
  position: relative;
  top: 0.5em;
  width: 114px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 0px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  /* font-family: Trebuchet, Arial, sans-serif; */
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "PLAY";
  padding-left: 10px;
  background-color: #9b806c;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "TRAIN";
  padding-right: 10px;
  background-color: #4b475c;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 46px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 60px;
  border: 2px solid #999999;
  border-radius: 0px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
